<section id="search" class="search-wrap">
    <h1>Find a user</h1>
    <form action="/gigs/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="type a name...">
      <input type="submit" value="Search">
    </form>
  </section>